{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}
    <div class="row">
        <div class="column padding-reset">
            <div class="ui center aligned huge message page segment">
                <h1 class="ui huge header">Hello, world!</h1>
                <p>This is a snippet for any type of website. It includes a call-to-action button and looks kind of like the jumbotron from Bootstrap. It does not require any additional CSS rules.</p>
            </div>
        </div>
    </div>
{% endblock %}