<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
    </head>
    <body>
        <div class="ui menu">
            <a class="header item" href="{{ path('home') }}">My Agency</a>
            <a class="{% if current_menu == 'home' %}active{% endif %} item" href="{{ path('home') }}">Home</a>
            <a class="{% if current_menu == 'services' %}active{% endif %} item" href="{{ path('services.index') }}">Services</a>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
    </body>
</html>
